<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="style_google.css" />
	<title>GoogleSixters</title>
</head>
<body>
	<header id="tete">
		<div id="bloc_haut_gauche">
			<p><a class="gmail margin_top_for_gmail" href="https://accounts.google.com/">Gmail</a></p>
			<p class="liens_haut_images"><a class="gmail margin_top_for_gmail" href="https://www.google.fr/imghp?hl=en&tab=wi">Images</a></p>
			<img src="images/carre.svg" title="Applications Google" id="carre" alt="apps google">
			<input type="button" value="Connexion" name="Connexion" id="connexion">
		</div>
	</header>

	<div id="middle">
		<figure><img src="images/logo.png" class="logo" alt="logo google"></figure>

		<div id="recherche">
			<input class="barre" type="text" name="search">
			<img title="Utiliser la recherche vocale" src="images/micro.svg" class="micro" alt="micro google">
		</div>

		<div id="boutons">
			<h1><input type="button" class="search" value="Recherche Google" name="Recherche Google"></h1>
			<h1><input type="button" class="search" value="J'ai de la chance" name="J'ai de la chance"></h1>
		</div>

	</div>


		<footer>
            <div id="france"><span id="france_text">France</span></div>
            <div id="pied">
                <div id="pied_gauche">
                    <p><a href="https://adwords.google.com/intl/fr_fr/home/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1" class="pied_liens">Publicité</a></p>
                    <p class="pied_bouton"><a href="https://www.google.fr/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1#?modal_active=none" class="pied_liens">Entreprise</a></p>
                    <p class="pied_bouton"><a href="https://www.google.fr/intl/fr_fr/about/?utm_source=google.com&utm_medium=referral&utm_campaign=hp-footer&fg=1" class="pied_liens">À propos</a></p>
                </div>
                <div id="pied_droit">
                    <p class="pied_bouton"><a href="https://support.google.com/websearch/answer/7585859?p=fr_consumer_info&hl=fr&fg=1&visit_id=0-636662054855492677-1842981676&rd=1" class="pied_liens">Info consommateurs</a></p>
                    <p class="pied_bouton"><a href="https://policies.google.com/privacy?hl=fr&gl=fr" class="pied_liens">Confidentialité</a></p>
                    <p class="pied_bouton"><a href="https://policies.google.com/terms?hl=fr&gl=fr" class="pied_liens">Conditions</a></p>
                    <p class="pied_bouton"><a href="https://www.google.fr/preferences?hl=fr" class="pied_liens">Paramètres</a></p>
                </div>
            </div>

</footer>
</body>
</html>
